@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #0e1226;
  --foreground: #dee1fd;
  
  --on-surface: #dee1fd;
  --surface-container-low: #161a2f;
  --surface-bright: #34384e;
  --on-surface-variant: #bbcac5;
  --surface: #0e1226;
  --surface-container-high: #25293e;
  --primary: #b5fff0;
  --surface-container: #1a1e33;
  --primary-container: #5eead4;
  --secondary: #bdc2ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-on-surface: var(--on-surface);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-bright: var(--surface-bright);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-surface: var(--surface);
  --color-surface-container-high: var(--surface-container-high);
  --color-primary: var(--primary);
  --color-surface-container: var(--surface-container);
  --color-primary-container: var(--primary-container);
  --color-secondary: var(--secondary);
  
  --font-headline-xl: "Lexend", sans-serif;
  --font-body-lg: "Lexend", sans-serif;
  --font-body-md: "Lexend", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body-md);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Effects */
@layer utilities {
  .glow-primary {
    box-shadow: 0 0 15px var(--color-primary-container);
  }
  .card-border {
    border: 1px solid rgba(129, 140, 248, 0.1);
  }
}
